---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=from:sue445&since_id=-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="XXXXXXXXXXXXXXXXXXX", oauth_nonce="XXXXXXXXXXXXXXXXXXX",
        oauth_signature="%XXXXXXXXXXXXXXXXXXX", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="XXXXXXXXXXXXXXXXXXX", oauth_token="14540215-XXXXXXXXXXXXXXXXXXX",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 14 May 2017 12:50:29 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 47112e65a782694fc62799563eebdf6b
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1494767129'
      X-Response-Time:
      - '208'
      X-Transaction:
      - 00b1e0f1006cb7e7
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"created_at":"Sun May 14 12:45:43 +0000 2017","id":863737084804071424,"id_str":"863737084804071424","text":"RT
        @aimtmkaka5: \u304d\u306e\u3046\u4f1a\u793e\u3067\n\n\u4e2d\u5e74\u8ab2\u9577\u300c\u30d1\u30ef\u30cf\u30e9\u304c\u306a\u3093\u3060\uff01\u3057\u3054\u304d\u304c\u4eba\u9593\u3092\u6210\u9577\u3055\u305b\u308b\u300d\n\u5148\u8f29\u300c\u304a\u3063\u3057\u3083\u308b\u901a\u308a\u3067\u3059\uff01\u300d\n\n\u3068\u304b\u5acc\u306a\u4f1a\u8a71\u3084\u3063\u3066\u305f\u306e\u3002\u305d\u3057\u305f\u3089\u5f8c\u3067\n\n\u5148\u8f29\u300c\u3069\u3046\u305b\u3042\u3044\u3064\u3089\u3082\u3046\u3059\u3050\u6b7b\u306c\u3067\u3057\u3087\uff1f\u3044\u3044\u5922\u898b\u3055\u305b\u3068\u3044\u3066\u3084\u308d\u3046\u3088\u300d\n\n\u3063\u3066\u7b11\u3063\u3066\u305f\u304b\u3089\u3001\u3084\u3063\u3071\u5927\u4eba\u3063\u2026","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"aimtmkaka5","name":"\u611b","id":4772157373,"id_str":"4772157373","indices":[3,14]}],"urls":[]},"metadata":{"iso_language_code":"ja","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/bit.ly\/UDldit\" rel=\"nofollow\"\u003eSaezuri\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":14540215,"id_str":"14540215","name":"sue445","screen_name":"sue445","location":"Tokyo","description":"\u30d5\u30eb\u30b9\u30bf\u30c3\u30af\u30ad\u30e5\u30a2\u30a8\u30f3\u30b8\u30cb\u30a2\u3002\u30c9\u30ea\u30b3\u30e0\u3067\u30b5\u30fc\u30d0\u3068\u304b\u898b\u3066\u307e\u3059\u3002
        Ruby\/Rails\/RubyKaja\/golang\/\u30a4\u30f3\u30d5\u30e9\/TDD\/CI\/\u30d7\u30ea\u30ad\u30e5\u30a2\/\u30b5\u30b6\u30a8\u3055\u3093\/\u30aa\u30e4\u30b8\u30ae\u30e3\u30b0\u30b3\u30df\u30c3\u30bf
        \u3010\u8b66\u544a\u3011\u30d5\u30a9\u30ed\u30fc\u3059\u308b\u3068\u5b9f\u6cc1\u3067\u3059\u3054\u3044\u52e2\u3044\u3067TL\u304c\u57cb\u307e\u308b\u3088\uff01\u3010\u5371\u967a\u3011
        https:\/\/t.co\/oNNVJajpqv","url":"https:\/\/t.co\/UnF4x0kct7","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/UnF4x0kct7","expanded_url":"http:\/\/sue445.hatenablog.com\/","display_url":"sue445.hatenablog.com","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/oNNVJajpqv","expanded_url":"http:\/\/twilog.org\/sue445","display_url":"twilog.org\/sue445","indices":[126,149]}]}},"protected":false,"followers_count":2132,"friends_count":1362,"listed_count":208,"created_at":"Sat
        Apr 26 05:33:43 +0000 2008","favourites_count":15543,"utc_offset":32400,"time_zone":"Tokyo","geo_enabled":false,"verified":false,"statuses_count":300024,"lang":"ja","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/378800000394619528\/fb8a746f6955be08134050ba2adaa1f2_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/378800000394619528\/fb8a746f6955be08134050ba2adaa1f2_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14540215\/1459177193","profile_link_color":"FAB81E","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"regular"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Sat
        May 13 13:08:00 +0000 2017","id":863380306073534464,"id_str":"863380306073534464","text":"\u304d\u306e\u3046\u4f1a\u793e\u3067\n\n\u4e2d\u5e74\u8ab2\u9577\u300c\u30d1\u30ef\u30cf\u30e9\u304c\u306a\u3093\u3060\uff01\u3057\u3054\u304d\u304c\u4eba\u9593\u3092\u6210\u9577\u3055\u305b\u308b\u300d\n\u5148\u8f29\u300c\u304a\u3063\u3057\u3083\u308b\u901a\u308a\u3067\u3059\uff01\u300d\n\n\u3068\u304b\u5acc\u306a\u4f1a\u8a71\u3084\u3063\u3066\u305f\u306e\u3002\u305d\u3057\u305f\[...]
