---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=10&q=from:sue445&since_id=-1&tweet_mode=extended
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="XXXXXXXXXXXXXXXXXXX", oauth_nonce="XXXXXXXXXXXXXXXXXXX",
        oauth_signature="XXXXXXXXXXXXXXXXXXX%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="XXXXXXXXXXXXXXXXXXX", oauth_token="14540215-XXXXXXXXXXXXXXXXXXX",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 22 May 2017 13:14:09 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1cec81b89b6aab1261eda061e582ed0f
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1495459529'
      X-Response-Time:
      - '167'
      X-Transaction:
      - 005c46530039bca6
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"created_at":"Mon May 22 13:06:24 +0000 2017","id":866641393837424640,"id_str":"866641393837424640","full_text":"RT
        @yamatonadeshi5: 48\u6b73\u72ec\u8eab\u306eBBA\u304c\u300c\u5408\u30b3\u30f3\u3068\u304b\u3044\u3084\u3089\u3057\u3044\uff01\u81ea\u7136\u306a\u51fa\u4f1a\u3044\u3058\u3083\u306a\u3044\u3068\u5acc\uff01\u300d\u3068\u8a00\u3046\u306e\u3067\u3001\u81ea\u7136\u306a\u51fa\u4f1a\u3044\u3068\u306f\uff1f\u3068\u554f\u3046\u305f\u3068\u3053\u308d\u300c\u8857\u4e2d\u3067\u7a81\u7136\u30ad\u30e0\u30bf\u30af\u306b\u58f0\u3092\u304b\u3051\u3089\u308c\u604b\u306b\u843d\u3061\u308b\u3002\u300d\u3068\u306e\u89e3\u304c\u8fd4\u3063\u3066\u304d\u305f\u306e\u3067\u3001\u7d50\u5a5a\u3067\u304d\u306a\u3044\u7406\u7531\u306e\u5168\u3066\u304c\u7aef\u7684\u306b\u51dd\u7e2e\u3055\u308c\u3066\u3044\u3066\u8da3\u6df1\u3044\u2026","truncated":false,"display_text_range":[0,140],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"yamatonadeshi5","name":"\u3084\u307e\u3068\u306a\u3067\u3057\u5b50@\u7d50\u5a5a\u3057\u305f\u3044
        \u5a5a\u6d3b","id":716541917194952704,"id_str":"716541917194952704","indices":[3,18]}],"urls":[]},"metadata":{"iso_language_code":"ja","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/bit.ly\/UDldit\" rel=\"nofollow\"\u003eSaezuri\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":14540215,"id_str":"14540215","name":"sue445","screen_name":"sue445","location":"Tokyo","description":"\u30d5\u30eb\u30b9\u30bf\u30c3\u30af\u30ad\u30e5\u30a2\u30a8\u30f3\u30b8\u30cb\u30a2\u3002\u30c9\u30ea\u30b3\u30e0\u3067\u30b5\u30fc\u30d0\u3068\u304b\u898b\u3066\u307e\u3059\u3002
        Ruby\/Rails\/RubyKaja\/golang\/\u30a4\u30f3\u30d5\u30e9\/TDD\/CI\/\u30d7\u30ea\u30ad\u30e5\u30a2\/\u30b5\u30b6\u30a8\u3055\u3093\/\u30aa\u30e4\u30b8\u30ae\u30e3\u30b0\u30b3\u30df\u30c3\u30bf
        \u3010\u8b66\u544a\u3011\u30d5\u30a9\u30ed\u30fc\u3059\u308b\u3068\u5b9f\u6cc1\u3067\u3059\u3054\u3044\u52e2\u3044\u3067TL\u304c\u57cb\u307e\u308b\u3088\uff01\u3010\u5371\u967a\u3011
        https:\/\/t.co\/oNNVJajpqv","url":"https:\/\/t.co\/UnF4x0kct7","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/UnF4x0kct7","expanded_url":"http:\/\/sue445.hatenablog.com\/","display_url":"sue445.hatenablog.com","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/oNNVJajpqv","expanded_url":"http:\/\/twilog.org\/sue445","display_url":"twilog.org\/sue445","indices":[126,149]}]}},"protected":false,"followers_count":2143,"friends_count":1364,"listed_count":206,"created_at":"Sat
        Apr 26 05:33:43 +0000 2008","favourites_count":15714,"utc_offset":32400,"time_zone":"Tokyo","geo_enabled":false,"verified":false,"statuses_count":301024,"lang":"ja","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/378800000394619528\/fb8a746f6955be08134050ba2adaa1f2_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/378800000394619528\/fb8a746f6955be08134050ba2adaa1f2_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14540215\/1459177193","profile_link_color":"FAB81E","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"regular"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Wed
        May 17 13:58:31 +0000 2017","id":864842570345598976,"id_str":"864842570345598976","full_text":"48\u6b73\u72ec\u8eab\u306eBBA\u304c\u300c\u5408\u30b3\u30f3\u3068\u304b\u3044\u3084\u3089\u3057\u3044\uff01\u81ea\u7136\u306a\u51fa\u4f1a\u3044\u3058\u3083\u306a\u3044\u3068\u5acc\uff01\u300d\u3068\u8a00\u3046\u306e\u3067\u3001\u81ea\u7136\u306a\u51fa\u4f1a\u3044\u3068\u306f\uff1f\u3068\u554f\u3046\u305f\u3068\u3053\u308d\u300c\u8857\u4e2d\u3067\u7a81\u7136\u30ad\u30e0\u30bf\[...]
