---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=from:precure_app&since_id=-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="XXXXXXXXXXXXXXXXXXX", oauth_nonce="XXXXXXXXXXXXXXXXXXX",
        oauth_signature="XXXXXXXXXXXXXXXXXXX", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="XXXXXXXXXXXXXXXXXXX", oauth_token="14540215-XXXXXXXXXXXXXXXXXXX",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 11 May 2017 15:06:58 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - c41a6f82aa58d0b924047962f39088a1
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1494515712'
      X-Response-Time:
      - '202'
      X-Transaction:
      - 0052fd4d00c40626
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"created_at":"Thu May 11 07:04:40 +0000 2017","id":862564095446327296,"id_str":"862564095446327296","text":"\u3010\u30e1\u30f3\u30c6\u30ca\u30f3\u30b9\u7d42\u4e86\u306e\u304a\u77e5\u3089\u305b\u3011\n\u30e1\u30f3\u30c6\u30ca\u30f3\u30b9\u304c\u4e88\u5b9a\u901a\u308a\u7d42\u4e86\u3057\u307e\u3057\u305f\u3002\nDL\u306f\u3053\u3061\u3089\u2192
        https:\/\/t.co\/ZF8NiA4asq     #\u30ad\u30e5\u30a2\u3071\u305a","truncated":false,"entities":{"hashtags":[{"text":"\u30ad\u30e5\u30a2\u3071\u305a","indices":[71,77]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/ZF8NiA4asq","expanded_url":"http:\/\/bnent.jp\/precure-tw\/","display_url":"bnent.jp\/precure-tw\/","indices":[43,66]}]},"metadata":{"iso_language_code":"ja","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":829335544198860800,"id_str":"829335544198860800","name":"\u300c\u30d7\u30ea\u30ad\u30e5\u30a2
        \u3064\u306a\u304c\u308b\u3071\u305a\u308b\u3093\u300d\u516c\u5f0f","screen_name":"precure_app","location":"","description":"\u300c\u30d7\u30ea\u30ad\u30e5\u30a2
        \u3064\u306a\u304c\u308b\u3071\u305a\u308b\u3093\u300d\u306f\u7c21\u5358\u3072\u3068\u7b46\u304c\u304d\u30d1\u30ba\u30eb\u30b2\u30fc\u30e0\u3002
        \u5b8c\u5168\u63cf\u304d\u8d77\u3053\u3057&\u30dc\u30a4\u30b9\u4ed8\u304d\u30ab\u30fc\u30c9\u3092\u96c6\u3081\u308b\u3068\u3001\u30d1\u30ba\u30eb\u3067\u4f7f\u3048\u308b\u30ad\u30e3\u30e9\u30af\u30bf\u30fc\u304c\u5897\u3048\u308b\uff012017\u5e74\u6625\u914d\u4fe1\u3067\u3059\uff01\u6700\u65b0\u60c5\u5831\u3092\u304a\u5c4a\u3051\u3057\u307e\u3059\u306e\u3067\u30d5\u30a9\u30ed\u30fc\u3092\u304a\u5f85\u3061\u3057\u3066\u304a\u308a\u307e\u3059\uff01\u203bTwitter\u3067\u306e\u8fd4\u4fe1\u7b49\u306f\u3067\u304d\u307e\u305b\u3093\u306e\u3067\u3054\u4e86\u627f\u304f\u3060\u3055\u3044\u3002","url":"https:\/\/t.co\/XNi4e1vitW","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/XNi4e1vitW","expanded_url":"http:\/\/precure-app.bn-ent.net\/","display_url":"precure-app.bn-ent.net","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":15686,"friends_count":37,"listed_count":183,"created_at":"Wed
        Feb 08 14:26:16 +0000 2017","favourites_count":11,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":true,"statuses_count":52,"lang":"ja","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/842216191481470976\/xaXT74hV_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/842216191481470976\/xaXT74hV_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/829335544198860800\/1489635014","profile_link_color":"F58EA8","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":38,"favorite_count":66,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"ja"},{"created_at":"Wed
        May 10 09:09:21 +0000 2017","id":862233084392988672,"id_str":"862233084392988672","text":"\u3010\u30e1\u30f3\u30c6\u30ca\u30f3\u30b9\u5b9f\u65bd\u306e\u304a\u77e5\u3089\u305b\u3011\n\u30d7\u30ea\u30ad\u30e5\u30a2
        \u3064\u306a\u304c\u308b\u3071\u305a\u308b\u3093\u306f\u660e\u65e514\u6642~16\u6642\u307e\u3067\u30e1\u30f3\u30c6\u30ca\u30f3\u30b9\u3092\u884c\u3044\u307e\u3059\u3002\n\u30e1\u30f3\u30c6\u30ca\u30f3\u30b9\u306e\u958b\u59cb\u30fb\u7d[...]
